{{ partial "load-photoswipe" }}

<section class="section gallery">
  <div class="columns is-multiline">
  {{ range . }}
  {{- $thumb := .src | default (printf "%s." .thumb | replace .link ".") }}
  {{- $i := resources.Get .link }}
  {{- $t := $i.Fit "400x400 Center" }}
  <div class="column is-one-quarter-desktop is-half-tablet">
    <div class="card">
      <div class="card-image">
          <figure class="image is-square">
            <div class="img" style="background-image: url('{{ $t.RelPermalink }}');">
              <img itemprop="thumbnail" src="{{ $t.RelPermalink }}" alt="{{ .alt | default .caption }}" />
            </div>
            <a  href="{{ $i.RelPermalink }}" itemprop="contentUrl" data-size="{{ .size }}" data-author="{{ .author }}">
            </a>
            <!-- {{- if or (or (.title) (.caption)) (.attr)}}
            <figcaption>
              <h4>{{.title}}</h4>
              {{- if or .caption .attr}}
                <p>{{- .caption -}}</p>
              {{- end }}
            </figcaption>
          {{- end }} -->
          </figure>
      </div>
    </div>
  </div>
  {{ end }}
  </div>
</section>
